nav {
  font-size:xx-large;
  font-style: oblique;
  font-weight: bolder;
  text-decoration-color: blanchedalmond;
}

h1, h2, h3, p{
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}
    
h1{
  font-size: 42px;
  font-weight: bold;
  text-align:left;
  font-weight: bolder;
}
    
h2{
  font-size: 24px;
  font-weight: bold;
  text-align:left;
}
    
h3{
  font-size: 18px;
  text-align: center;
}

img {
  shape-image-threshold: inherit;
}
    
#card {
  align-self:flex-end;
}

body {
  padding: 0;
  margin: 0;
}

/* for Interactive Map*/
#map,
body,
html {
  height: 100%;
}
.info { padding: 6px 8px; font: 14px/16px Arial, Helvetica, sans-serif; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px; }
.info h4 { margin: 0 0 5px; color: #777; }
.legend { text-align: left; line-height: 18px; color: #555; } .legend i { width: 18px; height: 18px; float: left; margin-right: 8px; opacity: 0.7; }
.leaflet-verticalcenter {
  position: absolute;
  z-index: 1000;
  pointer-events: none;
  top: 50%; /* possible because the placeholder's parent is the map */
  transform: translateY(-50%); /* using the CSS3 Transform technique */
  padding-top: 10px;
}

.leaflet-verticalcenter .leaflet-control {
  margin-bottom: 10px;
}