
/* Styling for HTML elements */

nav {font-size:xx-large;
  font-style: oblique;
  font-weight: bolder;
  text-decoration-color: blanchedalmond;
  }
  
  h1, h2, h3, p{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
  }
  
  h1{
    font-size: 42px;
    font-weight: bold;
    text-align:left;
    font-weight: bolder;
  }
  
  h2{
    font-size: 24px;
    font-weight: bold;
    text-align:left;
  }
  
  h3{
    font-size: 18px;
    text-align: center;
  }
  
 img {
    shape-image-threshold: inherit;
  } */
  
body {
    width: 100%;
    min-height:100%;
  }  

card {

  align-self:flex-end;
}  