<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

    <title>AboutUs</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: hsla(96, 2%, 52%, 0.842);">
        <div class="container-fluid">
          <a class="navbar-brand" href="index.html">DataScienceJobs</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="about_us.html">About Us (current)</a>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Data Pages
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="job_cloud.html">Job Cloud</a></li>
                  <li><a class="dropdown-item" href="interactive_map.html">Interactive Map</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="nostalgia.html">I wouldn't</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
<!-- lead in to about the team w/teaser pics -->
<div class="card bg-dark text-white">
    <img src="/static/images/mackenzie-weber-USMap.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h1 class="card-title">So you want to get a job?</h1>
      <p class="card-text">You asked and we answered! OK, maybe you didn't ask, but, we want to get jobs too...</p>
      <p class="card-text">Our team decided to put our data skills to the test! </p>
      <hr>
      <p class="text-center"><h2>We built an interactive website that is useful to bootcampers looking for a job in Data Science/Analytics. Our data source begins with a collection of tables from the ETL Project, consisting of five layers: ds_jobs, salary, breweries, and state_boundary. All records have a state ID. Here we propose to build a dynamic front-end for job seekers to map and make figures that will be useful when searching for a job. Some records (such as brewery locations) also have coordinates to map their locations within the states.</h2></p>
    
    </div>
  </div>
      <!-- About the team section -->
      <!-- <div class="row"> -->
        <div class="card-group">   
        <div class="col-sm-2">
          <div class="card">
            <img src="/static/images/TianyueYang.jp2" class="card-img-top" alt="Tianyue Yang">  
            <div class="card-body">
              <h5 class="card-title">Tianyue Yang</h5>
              <p class="card-text">If you love Leaflet as much as Tianyue does, you'll love her interactive maps even more! Hop in and have some fun!</p>
              <a href="https://github.com/yangty152" class="btn btn-primary">Tianyue's github</a>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">  
            <div class="card-body">
              <h5 class="card-title">Riley Williamson</h5>
              <p class="card-text">Riley has made it possible to correlate the things we want to know the most, using D3 to bring it together.</p>
              <a href="https://github.com/rlw4" class="btn btn-primary">Riley's github</a>
            </div>
          </div>
        </div>
            <div class="col-sm-2">
              <div class="card">
                <img src="/static/images/CoreyAnderson.jpeg" class="card-img-top" alt="Corey Anderson Class Pic">  
                <div class="card-body">
                  <h5 class="card-title">Corey Anderson</h5>
                  <p class="card-text">Our very own Database master, who made it possible to bring the data to you- and he made it look easy.</p>
                  <a href="https://github.com/coreydevinanderson" class="btn btn-primary">Corey's github</a>
                </div>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="card">
                <img src="/static/images/JenniferGaddie2.jp2" class="card-img-top" alt="Jennifer Gaddie Class Pic">  
                <div class="card-body">
                  <h5 class="card-title">Jennifer Gaddie</h5>
                  <p class="card-text">HTML, CSS, and Bootstrap galore, Jen built the house for the content our team poured their hearts into; enjoy!</p>
                  <a href="https://github.com/gigilynne" class="btn btn-primary">Jen's github</a>
                </div>
              </div>
            </div>
  </div>
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- required script for BS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>